<section id="features" class="container pt">
    <div class="row pep-feature">
        <a name="features"></a>
        <div class="row pep-feature-middle">
          <div class="col-lg-7 col-sm-7 col-md-7 centered">
            <img src="/static/assets/img/adminbot/issue.png" alt="" class="img-rounded img-responsive">
            </div>
            <div class="col-lg-5 col-sm-5 col-md-5 feedback">
              <img src="/static/assets/img/conversation.svg" alt="" class="img-rounded img-responsive">
              <h1 class="feature-title">Let people log issues</h1>
                <p class='feature-text-feedback'>People log issues by simply talking to @officeamp who then auto-categorizes issues and brings them to you.</p>
            </div>
        </div>
    </div>
    <div class="row pep-feature">
      <div class="col-lg-5 col-sm-5 col-md-5">
        <img src="/static/assets/img/chat-group.svg" alt="" class="img-rounded img-responsive">
        <h1 class="feature-title">Squash issues. Like a boss.</h1>
        <p class='feature-text-feedback'>Resolve issues yourself or assign them to someone else. Download reports and keep track of everything.</p>
      </div>
      <div class="col-lg-7 col-sm-7 col-md-7 feedback">
        <img src="/static/assets/img/adminbot/resolve.png" alt="" class="img-rounded img-responsive">
      </div>
    </div>
    <div class="row pep-feature-middle">
          <div class="col-lg-7 col-sm-7 col-md-7 centered">
          <img src="/static/assets/img/adminbot/comment.png" alt="" class="img-rounded img-responsive">
        </div>
        <div class="col-lg-5 col-sm-5 col-md-5 feedback">
            <img src="/static/assets/img/clap.svg" alt="" class="img-rounded img-responsive">
            <h1 class="feature-title">Everyone's happy</h1>
            <p class='feature-text'>Drop comments to update people on their issues. Let OfficeAmp help you in your mission to help others stay productive!</p>
        </div>
    </div>
</section>
