<section id="features" class="container pt">
    <div class="row pep-feature">
        <a name="features"></a>
        <div class="row pep-feature-middle">
          <div class="col-lg-7 col-sm-7 col-md-7 centered">
            <img src="/static/images/final_invoice.png" alt="" class="img-rounded img-responsive">
            </div>
            <div class="col-lg-5 col-sm-5 col-md-5 feedback">
              <img src="/static/images/invoicing-icon.png" alt="" class="img-rounded img-responsive"  height="100" width="100">
              <h1 class="feature-title">Invoice your customers</h1>
                <p class='feature-text-feedback'>Invoice your customers and get notified when they pay</p>
            </div>
        </div>
    </div>
    <div class="row pep-feature">
      <div class="col-lg-5 col-sm-5 col-md-5">
        <img src="/static/images/primary-template-invoice.png" alt="" class="img-rounded img-responsive" height="50" width="50">
        <h1 class="feature-title">Pay the invoices</h1>
        <p class='feature-text-feedback'>Customers can pay and download the pdf invoices</p>
      </div>
      <div class="col-lg-7 col-sm-7 col-md-7 feedback">
        <img src="/static/images/final_pdf.png" alt="" class="img-rounded img-responsive">
      </div>
    </div>
    <div class="row pep-feature-middle">
          <div class="col-lg-7 col-sm-7 col-md-7 centered">
          <img src="/static/images/final_settings.png" alt="" class="img-rounded img-responsive">
        </div>
        <div class="col-lg-5 col-sm-5 col-md-5 feedback">
            <img src="/static/images/setting-icon.png" alt="" class="img-rounded img-responsive" height="50" width="50">
            <h1 class="feature-title">Connect your stripe account</h1>
            <p class='feature-text-feedback'>Receive your payment directly in your stripe account.</p>
        </div>
    </div>
</section>
